.header {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.logo {
  max-width: 150px;
}
.logo img {
  width: 100%;
  height: auto;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.wrapper-links {
  display: flex;
}
.nav .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  gap: 1rem;
}
.nav-link {
  font-size: 1rem;
  display: block;
  padding: clamp(0.5rem, 1.5vw, 1rem);
  display: block;
  a {
    color: black;
    text-align: center;
    font-size: clamp(0.9rem,1.5vw, 1.2rem);
  }
}

.nav-toggle,
.nav-toggle .icon-close {
  display: none;
}

@media (width <= 768px) {
  .nav {
    flex-wrap: wrap;
  }

  .wrapper-links {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    width: 100%;
  }
  .wrapper-links.open {
    grid-template-rows: 1fr;
  }

  .nav .nav-links {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }

  .nav-toggle {
    display: block;
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;

    span {
      font-size: 2rem;
    }
  }
  .nav-toggle:hover {
    transform: scale(1.1);
  }

  /* Alternar iconos basándonos en el atributo de accesibilidad */
  .nav-toggle[aria-expanded="false"] .icon-close {
    display: none;
  }
  .nav-toggle[aria-expanded="false"] .icon-menu {
    display: block;
  }

  .nav-toggle[aria-expanded="true"] .icon-close {
    display: block;
  }
  .nav-toggle[aria-expanded="true"] .icon-menu {
    display: none;
  }
}
